.container {
  padding: 20px;
  position: relative;
}
.goBackContainer{
  position: absolute;
  left: 30px;
  top: 35px;
  width: 30px;
  height: 30px;

  cursor: pointer;
}

.details {
  border: 1px solid rgb(11, 52, 117);
  border-radius: 5px;
  padding: 20px 40px;
}

.statusPriority {
  display: flex;
  justify-content: space-between;
}
